.devicon-html5-plain
{
font-size: 5rem
}
.devicon-css3-plain
{
font-size: 5rem
}
.devicon-bootstrap-plain
{
font-size: 5rem
}
.devicon-php-plain
{
font-size: 5rem
}
.devicon-mysql-plain
{
font-size: 5rem
}
.devicon-c-plain
{
font-size: 5rem
}
.devicon-cplusplus-plain
{
font-size: 5rem
}
.devicon-github-original
{
font-size: 5rem
}